
.custom-box-form {
  background-color: #e0d4d4 !important;
}
.box-form {
  background-color:#e0d4d4 !important;/* light grey */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 600px; /* limit height */
  overflow-y: auto;  /* add vertical scrollbar if needed */
}